@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar-mob{
  position: absolute;
  width: 100%;
  top:0;
  overflow: hidden;
  z-index:100
}
.slideIn{
    animation: slide 500ms ease forwards;
}

@keyframes slide {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}